<!doctype html>
<html ng-app="hyeonme">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Hyeon Kim">
  <meta name="title" content="Simple Memo">
  <meta name="description" content="간단한 웹기반 메모 서비스">
  <title>Memo</title>
  <link rel="stylesheet" href="lib/normalize-css/normalize.css">
  <link rel="stylesheet" href="lib/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="index.css">
</head>
<body ng-controller="MemoCtrl">

<img src="logo.png">
<div id=write>
  <textarea msd-elastic="\n" ng-model="new.content" ng-blur="create()"
    placeholder="New Memo"></textarea>
  <a href=true><i class="fa fa-lg fa-pencil"></i></a>
</div>
<div id=result class=conainer>
  <div ng-repeat="memo in memos track by memo.id">
    <textarea msd-elastic="\n" ng-model="memo.content" ng-blur="update(memo.id)"></textarea>
    <a ng-click="delete(memo.id)"><i class="fa fa-times"></i></a>
  </div>
</div>

<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular-elastic/elastic.js"></script>
<script src="lib/lodash/dist/lodash.min.js"></script>
<script src="lib/restangular/dist/restangular.min.js"></script>
<script src="misc/ga.js"></script>
<script src="index.js"></script>

</body>
</html>
