html, body { height: 100%; }

.container {
  min-height: 100%;
  padding-bottom: 20px;
  background-color: lightgray;
  box-shadow: 0 0 15px lightgray;
}

textarea {
  width: 100%;
  border: 8px solid transparent;
  padding: 4px;
  
  background-color: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
  transition: border-color 0.2s, height 0.2s;
  
  resize: none;
  outline: none;
  overflow: hidden;
}
textarea:focus {
  border-color: rgba(0, 0, 0, 0.05);
}

.write {
  position: relative;
  width: 70%;
  margin: 10px auto 20px auto;
}
.write > textarea {
  min-height: 100px;
}
.write > a {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.result > textarea {
  margin: 5px 0;
}
