* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background: url("/bkground.jpg") center / cover fixed;
}

body {
  min-height: 100vh;
  padding: 130px 0 20px;
  margin: 0;
  background: linear-gradient(to bottom, #fff 100px, transparent 700px);
  font: 14px sans-serif;
  line-height: 24px;
}

#logo {
  display: block;
  margin: 0 auto;
}

textarea {
  width: 100%;
  height: 40px;
  font-size: 1.2em;
  background-color: rgb(255 255 255 / 95%);

  /* reset styles */
  display: block;
  border: none;
  resize: none;
  outline: none;
  overflow: hidden;
}

#write {
  position: relative;
  max-width: 600px;
  margin: 40px auto 80px;
  padding: 0 20px;
}

#write > textarea {
  min-height: 60px;
  padding: 12px;
  border: 2px solid rgb(0 0 0 / 10%);
  border-radius: 7px;
  box-shadow: 5px 5px 0 rgb(0 0 0 / 10%);
  transition:
    height 0.2s,
    min-height 0.2s;
}

#write > textarea::placeholder {
  font-size: 1.8em;
  text-align: center;
  line-height: 36px;
  transition: color 0.2s;
}

#write > textarea:focus::placeholder {
  color: transparent;
}

#write > button[type="submit"] {
  position: absolute;
  right: 50px;
  bottom: 21px;
  border: none;
  background: none;
  color: #1abc9c;
  font-size: 1.3em;
  cursor: pointer;
  transition: color 0.3s;
}

#write > button[type="submit"]:disabled {
  color: #ccc;
  cursor: default;
}

#result {
  margin: 0 auto;
  padding: 0 15px;
  columns: 3 20px;
}

@media (min-width: 768px) {
  #result {
    width: 750px;
  }
}

@media (min-width: 992px) {
  #result {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  #result {
    width: 1170px;
  }
}

.result-memo {
  position: relative;
  display: inline-block;
  width: 100%;
}

.result-memo > textarea {
  margin: 5px 0;
  padding: 4px;
  border: 8px solid transparent;
  box-shadow: 0 3px 0 rgb(0 0 0 / 8%);
  transition:
    height 0.2s,
    min-height 0.2s,
    border-color 0.2s;
}

.result-memo > textarea:focus {
  border-color: rgb(0 0 0 / 5%);
}

.result-memo > button {
  position: absolute;
  top: 2px;
  right: 3px;
  border: none;
  background: none;
  color: rgb(0 0 0 / 20%);
  cursor: pointer;
}

.result-memo > button:focus,
.result-memo > button:hover {
  color: rgb(0 0 0 / 50%);
}
